---
import Layout from '../../layouts/Layout.astro';
import { getAstroStore, getStoreApiItemSlug } from '../../lib/astroDataStore';

const store = await getAstroStore();
---

<Layout>
    <h1>Pokemon Search Engine Page</h1>
    <ul>
        {store.pokemons.map((pokemon) => (
            <li>
                <a href={`/pokemon/${getStoreApiItemSlug(pokemon)}`}>{pokemon.nameFr || pokemon.nameEn}</a>
            </li>
        ))}
    </ul>
</Layout>
