---
import Layout from '../../layouts/Layout.astro';
import { getAstroStore, getStoreItemSlug } from '../../lib/astroDataStore';

const store = await getAstroStore();
---

<Layout>
    <h1>Naruto Search Engine Page</h1>
    <ul>
        {store.naruto.map((character) => (
            <li>
                <a href={`/naruto/${getStoreItemSlug(character)}`}>{character.nameEn}</a>
            </li>
        ))}
    </ul>
</Layout>
