---
import Layout from '../layouts/Layout.astro';
import { getAstroStore, getStoreVaultItemSlug } from '../lib/astroDataStore';

const store = await getAstroStore();
---

<Layout>
    <h1>Bienvenue</h1>
    <ul>
        {store.vault.resources.map((resource) => (
            <li>
                <a href={`/resource/${getStoreVaultItemSlug(resource)}`}>{resource.name}</a>
            </li>
        ))}
    </ul>
</Layout>
