---
import { imagePropertyKey } from "../consts";
import type { MarkdownVaultFile } from "../lib/astroDataStore";
import { filenameToImageFileUrl, wikiLinkToFilename } from "../lib/filenameHelper";
interface Props {
    resource: MarkdownVaultFile;
}
const { resource }: Props = Astro.props;
---
<div class="w-48">
    {resource.data[imagePropertyKey] && <img src={filenameToImageFileUrl(wikiLinkToFilename(resource.data[imagePropertyKey]))} alt="Icon" />}
</div>