---
import type { MarkdownVaultFile } from "../lib/astroDataStore";
import { filenameToImageFileUrl, IMAGE_KEY, wikiLinkToFilename } from "../lib/filenameHelper";
interface Props {
    resource: MarkdownVaultFile;
}
const { resource }: Props = Astro.props;
---
<div class="w-48">
    {resource.data[IMAGE_KEY] && <img src={filenameToImageFileUrl(wikiLinkToFilename(resource.data[IMAGE_KEY]))} alt="Icon" />}
</div>