---
import Layout from '../../layouts/Layout.astro';
import { getAstroStore, getStoreApiItemSlug } from '../../lib/astroDataStore';

const store = await getAstroStore();
---

<Layout>
    <h1>One piece Search Engine Page</h1>
    <ul>
        {store.onePiece.map((character) => (
            <li>
                <a href={`/one-piece/${getStoreApiItemSlug(character)}`}>{character.nameEn}</a>
            </li>
        ))}
    </ul>
</Layout>
